{% extends 'base.html' %}
{% block content %}
<div class="wrapper mdc-elevation--z1">

        <ul class="mdc-list mdc-list--thumbnail-list" role="group" aria-label="Liked Videos">

            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="material-icons mdc-list-item__graphic"> thumb_up </span>
                <h3 class="mdc-list-group__subheader">Liked Videos</h3>
                <span class="material-icons mdc-list-item__meta collapse-btn"> expand_more </span> 
            </li>

            <div class="mdc-list-group hidden-item">
        <ul class="mdc-list mdc-list--two-line mdc-list--video-list" role="group" aria-label="Liked Videos">
            {% for video in likes %}
            <li class="mdc-list-item" role="checkbox" aria-checked="false" id="{{video['video_id']}}">
                <span class="mdc-list-item__ripple"></span>
                <img class="mdc-list-item__graphic" src="{{video['thumbnail']}}" >
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">{{video['title']}}</span>
                    <span class="mdc-list-item__secondary-text">{{video['channel_title']}}</span>
                </span>
                <span class="mdc-list-item__meta">
                    <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="demo-list-checkbox-item-1"  />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </span>
            </li>
            {% endfor %}
        </ul>
            </div>

            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="material-icons mdc-list-item__graphic">subscriptions</span>
                <h3 class="mdc-list-group__subheader">Subsciptions</h3>
                <span class="material-icons mdc-list-item__meta collapse-btn"> expand_more </span> 
            </li>

            <div class="mdc-list-group hidden-item">
        <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list" role="group" aria-label="Subsciptions">
            {% for sub in subs %}
            <li class="mdc-list-item" role="checkbox" aria-checked="false" id="{{sub['channel_id']}}">
                <span class="mdc-list-item__ripple"></span>
                <img class="mdc-list-item__graphic" src="{{sub['thumbnail']}}" >
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__text">{{sub['title']}}</span>
                </span>
                <span class="mdc-list-item__meta">
                    <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="demo-list-checkbox-item-1"  />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </span>
            </li>
            {% endfor %}
        </ul>
            </div>

            <li class="mdc-list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="material-icons mdc-list-item__graphic">video_library</span>
                <h3 class="mdc-list-group__subheader">Playlists</h3>
                <span class="material-icons mdc-list-item__meta collapse-btn"> expand_more </span> 
            </li>

            <div class="mdc-list-group hidden-item">
        <ul class="mdc-list mdc-list--video-list" role="group" aria-label="Playlists">
            {% for playlist in playlists %}
            <li class="mdc-list-item" role="checkbox" aria-checked="false" id="{{playlist['resource_id']}}">
                <span class="mdc-list-item__ripple"></span>
                <img class="mdc-list-item__graphic" src="{{playlist['thumbnail']}}" >
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text">{{playlist['title']}}</span>
                    <span class="mdc-list-item__secondary-text">{{playlist['privacy_status']}}</span>
                </span>
                <span class="mdc-list-item__meta">
                    <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control"
                               id="demo-list-checkbox-item-1"  />
                        <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark"
                                 viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path"
                                      fill="none"
                                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                    </div>
                </span>
            </li>
            {% endfor %}
        </ul>
            </div>

        </ul>


</div>
{% endblock %}
